<a href="https://colab.research.google.com/github/jordano-crt/TelecomX-Challenge/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracci贸n

Comenzamos, cargando los datos de los links de github provisto para manipulaci贸n

In [179]:
import pandas as pd
import requests
import json

In [180]:
URL = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

In [181]:
response = requests.get(URL)
datos = response.json()
dataFrame_datos = pd.DataFrame(datos)

# Transformaci贸n

### Conociendo la estructura del dataset

El conjunto de datos esta subido a un archivo de tipo json, los cuales son un conjunto de diccionarios, listas o arrays, los cuales pueden estar anidados entres los datos. Como se muestra a continuaci贸n.

In [182]:
dataFrame_datos.sample(5)# se debe normalizar

,customerID,Churn,customer,phone,internet,account
6060,8267-ZNYVZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'One year', 'PaperlessBilling': '..."
173,0270-THENM,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
5777,7893-IXHRQ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
599,0853-TWRVK,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
5740,7850-THJMU,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."

Como se observa en *dataFrame_datos.sample(5)*, no estrega 5 ejemplos aleatorios de DataFrame de pandas. Se vizualizan 6 columnas de las cuales 4 desde 'customer' a 'account' son objetos de tipo diccionario, los cuales debemos descomponer es culumnas separadas. Para ello se utilizar *pd.json_normalize()*

In [183]:
datos_nomalizados = pd.json_normalize(datos)

Podemos visualizar la cantidad de filas y columnas que contiene nuestro conjunto de datos con *datos_normalizados.shape*. Que nos muestra un total de 7267 filas con 21 columnas.

In [184]:
datos_nomalizados.shape

(7267, 21)

In [185]:
datos_nomalizados.sample(5)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
2779,3853-LYGAM,No,Male,0,No,No,17,Yes,Yes,Fiber optic,...,No,Yes,Yes,No,Yes,Month-to-month,Yes,Bank transfer (automatic),95.65,1640
6291,8649-VYTUC,,Male,0,No,No,24,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,90.35,2238.5
1805,2575-EAMDV,,Female,0,No,No,35,Yes,No,Fiber optic,...,No,Yes,Yes,Yes,Yes,One year,Yes,Electronic check,99.25,3532
2823,3913-RDSJZ,No,Female,0,Yes,No,64,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.55,1714.95
4347,5966-EMAZU,No,Male,0,Yes,No,64,Yes,Yes,Fiber optic,...,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,108.50,6880.85

Gracias a la normalizaci贸n, se puede apreciar todas las columnas que esta relacionadas con los clientes, de forma m谩s comprensible. Ahora se mostrara una descripcion del DataFrame con *datos_nomalizados.info()*.

In [186]:
datos_nomalizados.info()# como son los datos en el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### Limpieza de datos

Se observa que **account.Charges.Total** esta en otro formato, asi que lo debemos cambiar el tipo de dato a float.

In [187]:
# Corrige espacios en blanco y convierte a float, reemplazando errores con NaN
datos_nomalizados['account.Charges.Total'] = pd.to_numeric(
    datos_nomalizados['account.Charges.Total'], errors='coerce'
)

In [188]:
datos_nomalizados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

Antes de proseguir se debe verificar si hay valores nulos dentro de los datos.O caracteres que no debirian de estar.

In [189]:
datos_nomalizados['account.Charges.Total'].isnull().sum()

np.int64(11)

In [190]:
for datos in datos_nomalizados.columns:
    print(datos, datos_nomalizados[datos].isnull().sum())
print(datos_nomalizados.shape)

customerID 0
Churn 0
customer.gender 0
customer.SeniorCitizen 0
customer.Partner 0
customer.Dependents 0
customer.tenure 0
phone.PhoneService 0
phone.MultipleLines 0
internet.InternetService 0
internet.OnlineSecurity 0
internet.OnlineBackup 0
internet.DeviceProtection 0
internet.TechSupport 0
internet.StreamingTV 0
internet.StreamingMovies 0
account.Contract 0
account.PaperlessBilling 0
account.PaymentMethod 0
account.Charges.Monthly 0
account.Charges.Total 11
(7267, 21)

In [191]:
for columna in datos_nomalizados.columns:
    print(f"\n Columna: {columna}")
    print(f"    Tipo de dato: {datos_nomalizados[columna].dtype}")
    print(f"    Cantidad de valores 煤nicos: {datos_nomalizados[columna].nunique()}")
    print(f"    Valores 煤nicos: {datos_nomalizados[columna].unique()[:10]}")
    #if datos_nomalizados[columna].nunique() > 10:
    #    print("   锔  (Mostrando solo los 10 primeros)")

 Columna: customerID
    Tipo de dato: object
    Cantidad de valores 煤nicos: 7267
    Valores 煤nicos: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' '0011-IGKFF' '0013-EXCHZ'
 '0013-MHZWF' '0013-SMEOE' '0014-BMAQU' '0015-UOCOJ' '0016-QLJIS']

 Columna: Churn
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['No' 'Yes' '']

 Columna: customer.gender
    Tipo de dato: object
    Cantidad de valores 煤nicos: 2
    Valores 煤nicos: ['Female' 'Male']

 Columna: customer.SeniorCitizen
    Tipo de dato: int64
    Cantidad de valores 煤nicos: 2
    Valores 煤nicos: [0 1]

 Columna: customer.Partner
    Tipo de dato: object
    Cantidad de valores 煤nicos: 2
    Valores 煤nicos: ['Yes' 'No']

 Columna: customer.Dependents
    Tipo de dato: object
    Cantidad de valores 煤nicos: 2
    Valores 煤nicos: ['Yes' 'No']

 Columna: customer.tenure
    Tipo de dato: int64
    Cantidad de valores 煤nicos: 73
    Valores 煤nicos: [ 9  4 13  3 71 63  7 65 54 72]

 Columna: phone.PhoneService
    Tipo de dato: object
    Cantidad de valores 煤nicos: 2
    Valores 煤nicos: ['Yes' 'No']

 Columna: phone.MultipleLines
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['No' 'Yes' 'No phone service']

 Columna: internet.InternetService
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['DSL' 'Fiber optic' 'No']

 Columna: internet.OnlineSecurity
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['No' 'Yes' 'No internet service']

 Columna: internet.OnlineBackup
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['Yes' 'No' 'No internet service']

 Columna: internet.DeviceProtection
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['No' 'Yes' 'No internet service']

 Columna: internet.TechSupport
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['Yes' 'No' 'No internet service']

 Columna: internet.StreamingTV
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['Yes' 'No' 'No internet service']

 Columna: internet.StreamingMovies
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['No' 'Yes' 'No internet service']

 Columna: account.Contract
    Tipo de dato: object
    Cantidad de valores 煤nicos: 3
    Valores 煤nicos: ['One year' 'Month-to-month' 'Two year']

 Columna: account.PaperlessBilling
    Tipo de dato: object
    Cantidad de valores 煤nicos: 2
    Valores 煤nicos: ['Yes' 'No']

 Columna: account.PaymentMethod
    Tipo de dato: object
    Cantidad de valores 煤nicos: 4
    Valores 煤nicos: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

 Columna: account.Charges.Monthly
    Tipo de dato: float64
    Cantidad de valores 煤nicos: 1585
    Valores 煤nicos: [ 65.6   59.9   73.9   98.    83.9   69.4  109.7   84.65  48.2   90.45]

 Columna: account.Charges.Total
    Tipo de dato: float64
    Cantidad de valores 煤nicos: 6530
    Valores 煤nicos: [ 593.3   542.4   280.85 1237.85  267.4   571.45 7904.25 5377.8   340.35
 5957.9 ]

Como se puede apreciar, siguiendo el orden de las columnas del dataFrame, la segunda corresponde a 'churn', que son los datos de las personas que ya no estan en la empresa, y resulta que hay otra opcion que es un espacio vacio, que es distinto de null. Ademas de la columna 'account.Charges.Total', que tiene valores nulos.

In [192]:
datos_nomalizados[datos_nomalizados['Churn'] == ''].shape

(224, 21)

In [193]:
datos_nomalizados[datos_nomalizados['Churn'] == ''].sample(3) # ejemplo de 3 datos que contienen valora '' en churn

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
3199,4468-MLDTH,,Male,0,No,No,4,Yes,No,DSL,...,No,No,Yes,Yes,No,Month-to-month,Yes,Electronic check,61.3,249.4
3378,4691-NEWPF,,Male,0,Yes,No,11,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),45.9,521.9
3590,4946-VTTND,,Male,0,Yes,No,8,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Mailed check,75.0,658.1

In [194]:
datos_nomalizados[datos_nomalizados['account.Charges.Total'].isnull()].index # Indice de los datos que tiene valor nulo

Index([975, 1775, 1955, 2075, 2232, 2308, 2930, 3134, 3203, 4169, 5599], dtype='int64')

In [195]:
datos_nomalizados = datos_nomalizados[datos_nomalizados['Churn'] != ''] # dejame solo los datos que sean distinto de ''

In [196]:
datos_nomalizados[datos_nomalizados['Churn'] == ''].shape

(0, 21)

In [197]:
datos_nomalizados.shape

(7043, 21)

In [198]:
datos_nomalizados['account.Charges.Total']=datos_nomalizados['account.Charges.Total'].fillna(0) # cambio los valores nulos por 0

In [199]:
datos_nomalizados['account.Charges.Total'].isnull().sum()

np.int64(0)

In [200]:
datos_corregidos = datos_nomalizados

### Columnas relevantes

Luego de corregir ciertos datos, ahora se pasara a escoger los valores, necesarios para llevar a cabo nuestro an谩lisis de evasi贸n

# Carga y an谩lisis

#Informe final